.git/
.github/
.venv/
__pycache__/
*.py[cod]
.mypy_cache/
.ruff_cache/
.pytest_cache/
.coverage
htmlcov/
tests/
*.md
.env
.env.template
Makefile
compose.yaml
requirements-dev.txt
requirements-audit.txt
pyproject.toml
bandit.yaml
.editorconfig
.python-version
