# Required
SMARTMET_SERVER_URL=https://smartmet.example.com
EDR_COLLECTION=gfs_surface
VERIF_PRODUCER=gfs
SMARTMET_PARAMETERS=Temperature,WindSpeedMS
# One of:
SMARTMET_STATIONGROUP=synop_finland
#SMARTMET_STATION=101004

VERIFICATION_DB_USER=verifuser
VERIFICATION_DB_PASSWORD=secret
VERIFICATION_DB_HOST=localhost
VERIFICATION_DB_NAME=verifdb
VERIFICATION_DB_PORT=5432

# Optional
#RUN_INTERVAL=600
#RETRY_COUNT=3
#RETRY_DELAY=60
#VERBOSE=1
#DRY_RUN=1
